.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}
  
.footer p {
    margin: 0;
    color: #b0b0b0;
    font-family: "Sometype Mono", monospace;
}
